<div class="container">

  <div class="main_pane">

    <div class="title_one">
      <p> Hello, I'm <br> Praveen M.</p>
    </div>

    <div class="title_two">
      <p>I’m a Staff Software Engineer currently working as Tech Lead of the Doc Squad at Algolia.
        I mostly do front-end development, and I’m a Vue.js and CSS nerd.
        I can't shut up about test-driven development and utility-first CSS.
        I also share what I learn on my blog frontstuff.io, or at meetups and conferences.</p>
    </div>

    <div class="social">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        style="border-radius: 60px;height: 60px; width: 60px;">

      <div class="social_item">GitHub</div>
      <div class="social_item">LinkedIn </div>
      <div class="social_item">Mail</div>
    </div>

    <div class="menu">

      <div *ngFor="let menu of menu_items; let i = index">
        <div class="parent" style="font-size: large;">
          <div class="number"><b>{{i + 1}}</b></div>
          <div class="line"></div>
          <div class="prop">{{menu}}</div>
        </div> <br>
      </div>


    </div>



  </div>
  <div class="content">

    <!-- SKILLS -->
      <mat-card style="background-color: #202022;color: aliceblue;border-radius: 0; width: 320px; margin-top: 8rem; height: fit-content;">
        <div style="display: flex; flex-direction: row; align-items: center;">
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            style="border-radius: 60px;height: 60px; width: 60px;">
          <div style="display: flex; flex-direction: column;margin-left: 2rem;">
            <b style="font-family: Arial, Helvetica, sans-serif;">Web Development</b>
            <mat-chip-list style="margin-top: 1rem;">
              <mat-chip style="background-color: #151515;color: aliceblue;">HTML</mat-chip>
              <mat-chip style="background-color: #151515;color: aliceblue;">CSS</mat-chip>
              <mat-chip style="background-color: #151515;color: aliceblue;">Javascript</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-card>

      <!-- Experience -->

      <mat-card style="margin-top: 2rem;width: fit-content;height: 320px;width: 320px; background-color: #202022; color: white; ">
        
        <div style="margin:2rem">
          <b style="font-size: 36px;">Mindtree Limited.</b>
          <mat-chip style="background-color: #151515;color: aliceblue; margin-top: 1rem;">Associate Software Engineer </mat-chip>
        </div>
        
      </mat-card>
      
  

  </div>

</div>